{% include 'base.html.twig' %}


{% block body %}
	<style></style>
	<div class='containt'>
		<div class='pagePres'>
			<h1>Les Monstres</h1>

			<p>Les monstres sont des entités hostiles et constituent la principale menace pour les survivants . 
															 Il y a 35 monstres de 4 types différents actuellement dans le jeu, et des informations à leur sujet peuvent être consultées dans le journal de bord.
			</P>

			<p>
				Les boss (à ne pas confondre avec Teleporter Boss ) sont une catégorie de monstres avec une santé et des dégâts beaucoup plus élevés, 
												            et sont en tant que tels plus menaçants pour le joueur que la plupart des monstres ordinaires.</p>

			<p>Tout monstre donné a 1% de chances de laisser tomber son Monster Log si un joueur du groupe n'a pas encore acquis cette entrée. Si le monstre est un boss téléporteur,
																                 un boss spécial ou une horde multiple, cette chance d'apparition est de 3 % à la place. 
																                Ces chances de chute sont affectées par le Trèfle à 57 feuilles et/ou Pureté du joueur qui bat le monstre.</p>
		</div>

		<div>
			<h3>
				Les monstres réguliers</h3>

		</div>
	</div>


{% endblock %}
