{% include 'base.html.twig' %}

{% block body %}
<style>
		body {
			background-size: contain;
			background: #000000 url('https://gamertweak.com/wp-content/uploads/2020/05/risk-of-rain-2-artifacts-level-1280x720.jpg') no-repeat;
		}
		.section {
			justify-content: space-around;
			background-color: rgba(0, 0 , 0, 0.8);
			color: rgb(190, 190, 190);
			border-radius: 50px;
			text-align: center;
			margin-left: 50px;
			margin-right: 50px;
		}
		table{
			position: relative;
			left: 25%;
			border-collapse: collapse;
		}
		td, tr{
			margin: 10%;
			border: 1px solid silver;
		}
	</style>
	<div class='section'>
		<div class='pagePres'>
			<h1>Les Artefacts </h1>
			<table>
				<tr>
					<td>Logo</td>
					<td>Nom</td>
					<td>Description</td>
					<td>Code</td>
				</tr>
			{% for artefact in artefacts %}
				<tr>
					<td>Logo</td>
					<td>{{ artefact.name }}</td>
					<td>{{ artefact.description }}</td>
					<td>Code</td>
				</tr>

			{% endfor %}
			</table>
		{% endblock %}